
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
.navbarDark{
  background-color:rgb(45 48 56);
  color: #ddd;
}
.navbarLight {
  background-color: rgb(59 130 246 / 0.4);
  color: black;
}
.propertyListLight {
  background-color: rgb(249 250 251);
  color: black;
  border-color: rgb(229 231 235);
  }
.propertyListDark { 
  background-color:rgb(68 73);
  color: #ddd;
   
}
.propertyLight {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.propertyDark {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
 