
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
.navbarDark{
--bg: #0f172a;
--textColor: #ddd;
--lightBg: #1f273a;
--lightTextColor: #a6a6a6;

}
.navbarLight {
  --bg: rgb(59 130 246 / 0.4);
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.propertyListLight {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.propertyListdark {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.propertyLight {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.propertyDark {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.containers {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}