@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarDark {
    background-color: rgb(45 48 56);
    color: #ddd;
}
.navbarLight {
    background-color: rgb(161, 192, 251);
    color: black;
}
.propertyListLight {
    background-color: rgb(249 250 251);
    color: black;
    border-color: rgb(229 231 235);
}
.propertyListDark {
    background-color: rgb(45 48 56 / 0.95);
    color: #ddd;
}
.searchbarLight {
    background-color: rgb(248 250 252);
    color: black;
}
.searchbarDark {
    background-color: rgb(100 116 139 / 0.6);
    color: #ddd;
}
.propertyLight {
    background-color: rgb(249 250 251);
    color: black;
}
.propertyDark {
    background-color: rgb(45 48 56 / 0.95);
    color: #ddd;
}

.custom-select-wrapper {
            position: relative;
            width: 100%;
            max-width: 300px; /* Adjust the width as needed */
        }

        .custom-select-wrapper::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            border: 6px solid transparent;
            border-color: #000000 transparent transparent transparent;
            transform: translateY(-50%);
            pointer-events: none; /* Makes sure clicks pass through to the select element */
        }

        .custom-select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #ffffff;
            border: 1px solid #a1a1a1; /* Subtle border */
            border-radius: 5px;
            padding: 8px 30px 8px 10px; /* Padding for text and custom arrow */
            font-size: 1rem;
            cursor: pointer;
            width: 100%;
        }