@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarDark {
    background-color: rgb(45 48 56);
    color: #ddd;
}
.navbarLight {
    background-color: rgb(161, 192, 251);
    color: black;
}
.propertyListLight {
    background-color: rgb(249 250 251);
    color: black;
    border-color: rgb(229 231 235);
}
.propertyListDark {
    background-color: rgb(45 48 56 / 0.95);
    color: #ddd;
}
.searchbarLight {
    background-color: rgb(248 250 252);
    color: black;
}
.searchbarDark {
    background-color: rgb(100 116 139 / 0.6);
    color: #ddd;
}
.propertyLight {
    background-color: rgb(249 250 251);
    color: black;
}
.propertyDark {
    background-color: rgb(45 48 56 / 0.95);
    color: #ddd;
}
.shadow-dark-sm {
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.05);
}

.shadow-dark-inner {
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1);
}

